<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }
    </style>
</head>

<body>
    <h1>Playground for ORM</h1>
    <p>My name is {{ name }}</p>
    <p>I am {{ age }} years old.</p>
    <ul>
    {% for collection in collections %}
        <li>{{ collection.title }}</li>
    {% endfor %}
    </ul>
    <h2>{{ collection.title }}</h2>
    <h2>{{ product.title }}</h2>
    <ol>
    {% for product in products %}
        <li><span class="red">id: {{ product.id }}</span> title: {{ product.title }} <span class="blue">price: {{ product.unit_price }}</span></li>
    {% endfor %}
    </ol>
</body>
</html>