<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
    </style>
  </head>

  <body>
    <h1>Playground for ORM</h1>
    <p>number of products - {{ result.unit_price__max }}</p>
    <p>number of products - {{ result.unit_price__min }}</p>
  </body>
</html>
